<section class="contacts" id="contacts">
  <div class="contacts__wrapper wrapper">
    <h2 class="contacts__title second-title">
      Контакты
    </h2>
    <ul class="contacts__list">
      <li class="contacts__item contacts__item--icon">
        <svg class="contacts__icon" width="30" height="30" viewBox="0 0 512 512" aria-hidden="true">
          <use xlink:href="img/svg/sprite.svg#phone-book-icon"></use>
        </svg>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-title">
          Адрес
        </p>
        <p class="contacts__item-text">
          1-я Бородинская ул., 2A, Москва, 121059
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__item-title">
          Телефон
        </p>
        <a class="contacts__item-text" href="tel:+79853551010">
          +7 (985) 355-10-10
        </a>
      </li>

      <li class="contacts__item">
        <p class="contacts__item-title">
          Почта
        </p>
        <a class="contacts__item-text" href="mailto:topcarcleaning@yandex.ru">
          topcarcleaning@yandex.ru
        </a>
      </li>

      <li class="contacts__item">
        <p class="contacts__item-title">
          Instagram
        </p>
        <a class="contacts__item-text" href="https://www.instagram.com/topcar_cleaning24/">
          @topcar_cleaning24
        </a>
      </li>
    </ul>
  </div>
  <div class="contacts__map"></div>
</section>