<section class="contacts" id="contacts">
  <div class="contacts__wrapper wrapper">
    <h2 class="contacts__title second-title">
      Контакты
    </h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__item-icon">
          <svg class="" width="40" height="40" viewBox="0 0 512 512" aria-hidden="true">
            <title>Наш адрес</title>
            <use xlink:href="img/svg/sprite.svg#map-pin-icon"></use>
          </svg>
        </div>

        <p class="contacts__text">
          1-я Бородинская ул., 2A, Москва, 121059
        </p>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-icon">
          <svg class="" width="35" height="35" viewBox="0 0 483 483" aria-hidden="true">
            <title>Позвоните нам</title>
            <use xlink:href="img/svg/sprite.svg#tel-icon"></use>
          </svg>
        </div>

        <a class="contacts__text" href="tel:+79853551010">
          +7 (985) 355-10-10
        </a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-icon">
          <svg class="" width="35" height="35" viewBox="0 0 289 289" aria-hidden="true">
            <title>Напишите нам</title>
            <use xlink:href="img/svg/sprite.svg#email-symbol"></use>
          </svg>
        </div>

        <a class="contacts__text" href="mailto:topcarcleaning@yandex.ru">
          topcarcleaning@yandex.ru
        </a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-icon">
          <svg class="" width="35" height="35" viewBox="0 0 512 512" aria-hidden="true">
            <title>Открыть наш профиль в&nbsp;Instagram</title>
            <use xlink:href="img/svg/sprite.svg#inst-icon"></use>
          </svg>
        </div>

        <a class="contacts__text" href="https://www.instagram.com/topcar_cleaning24/" target="_blank">
          @topcar_cleaning24
        </a>
      </li>
    </ul>
  </div>
  <div class="contacts__map"></div>
</section>