<footer class="footer" role="contentinfo">
  <div class="footer__wrapper wrapper">
    <div class="footer__nav">

      <!-- Navigation -->
      <ul class="footer__list">
        <li class="footer__item footer__item--title">
          Разделы
        </li>

        <li class="footer__item">
          <a href="/" class="footer__link">
            Главная
          </a>
        </li>

        <li class="footer__item">
          <a href="/#offers" class="footer__link">
            Услуги
          </a>
        </li>
        <li class="footer__item">
          <a href="/#promotions" class="footer__link">
            Акции
          </a>
        </li>
        <li class="footer__item">
          <a href="/#contacts" class="footer__link">
            Контакты
          </a>
        </li>
      </ul>

      <!-- Contacts -->
      <ul class="footer__list">
        <li class="footer__item footer__item--title">
          Контакты
        </li>
        <li class="footer__item">
          <p class="footer__text">
            1-я Бородинская ул., <br>
            2A, Москва, 121059
          </p>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="tel:+79853551010">+7 (985) 355-10-10</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="mailto:topcarcleaning@yandex.ru">topcarcleaning@yandex.ru</a>
        </li>
      </ul>


      <!-- Work time -->
      <ul class="footer__list">
        <li class="footer__item footer__item--title">
          Работаем
        </li>
        <li class="footer__item">
          <p class="footer__text">
            Ежедневно, 24 часа
          </p>
        </li>
      </ul>

      <!-- Work time -->
      <ul class="footer__list">
        <li class="footer__item footer__item--title">
          Соц. сети
        </li>
        <li class="footer__item">
          <a href="https://www.instagram.com/topcar_cleaning24/" class="footer__link footer__link--no-effect" target="_blank">
            <span class="visually-hidden">Ссылка на Instagram</span>
            <svg class="footer__icon" width="20" height="20" viewBox="0 0 512 512">
              <use xlink:href="img/svg/sprite.svg#inst-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__additional-info">
      <p class="footer__copyright">
        Copyright © 2018 TopCar-Cleaning
      </p>
      <p class="footer__designed-by">
        Designed by <a href="" class="footer__link">Mikhail Rerberg</a>
      </p>
    </div>
  </div>
</footer>
