<section class="introduction">
  <div class="introduction__bg"></div>
  <h1 class="visually-hidden">TopCar - автомойка, автосервис, шиномонтаж</h1>
  <div class="introduction__wrapper wrapper">
        <span class="introduction__logo-text">
          Top
        </span>
    <ul class="introduction__offers">
      <li class="introduction__item">Мойка</li>
      <li class="introduction__rhombus" aria-hidden="true"></li>
      <li class="introduction__item">Шиномонтаж</li>
      <li class="introduction__rhombus" aria-hidden="true"></li>
      <li class="introduction__item">Автосервис</li>
    </ul>
    <span class="introduction__logo-text introduction__logo-text--yellow">
         Car
        </span>
  </div>
  <div class="introduction__additional-info">
    <ul class="introduction__additional-list">
      <li class="introduction__additional-item">
        <svg class="introduction__additional-icon" width="30" height="30" viewBox="0 0 512 512">
          <use xlink:href="img/svg/sprite.svg#map-pin-icon"></use>
        </svg>
        <p class="introduction__additional-text">
          1-я Бородинская ул., 2A, Москва, 121059
        </p>
      </li>
      <li class="introduction__additional-item">
        <svg class="introduction__additional-icon" width="30" height="30" viewBox="0 0 512 512">
          <use xlink:href="img/svg/sprite.svg#contacts-icon"></use>
        </svg>
        <p class="introduction__additional-text">
          +7 (985) 355-10-10 <br>
          topcarcleaning@yandex.ru
        </p>
      </li>
      <li class="introduction__additional-item">
        <svg class="introduction__additional-icon" width="30" height="30" viewBox="0 0 512 512">
          <use xlink:href="img/svg/sprite.svg#clock-icon"></use>
        </svg>
        <p class="introduction__additional-text">
          Eжедневно и круглосуточно
        </p>
      </li>
    </ul>
  </div>
</section>